@font-face {
    font-family: 'Ycomputer-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiraeroNormal';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/MiraeroNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#kanzi{
    display: inline-block;
    font-family: 'MiraeroNormal';
    font-size: 80%;
    margin: 0;
}

a{
    color: yellow;
    text-decoration: none;
}

body{
    background-color: blue;
    font-family: 'Ycomputer-Regular';
    color: yellow;
    margin: 17px;
}

#sentence{
    text-align: right;
}
